<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurant Advisor</title>
</head>
<body>

<h1><center>Restaurant Advisor</center></h1>
<a href="/homeScreen.html" target="_parent"><button>Home</button></a>
<a href="/Restaurants.html" target="_parent"><button>Restaurants</button></a>
<a href="/ReviewRestaurants" target="_parent"><button>Reviews</button></a>
<a href="/Orders.html" target="_parent"><button>Orders</button></a>
<a href="/Logout.html" target="_parent"><button>Logout</button></a>

<input type="text" id="search" name="search">
<button type="search">Search</button><br>

<p><center><b>Write a Review</b></center></p>

<div style="text-align:center;">
	<label for="name">Name:</label><br>
	<input type="text" id="name" name="name">
</div>

<div style="text-align:center;">
	<label for="rating">Rating:</label><br>
	<input type="text" id="rating" name="rating">
</div>

<div style="text-align:center;">
	<label for="description">Description:</label><br>
	<textarea id="description" name="description" rows="10" cols="50">
	</textarea>
</div>

</body>
<html>