<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Reviews</title>
    <link rel="stylesheet" type="text/css" href="../css/example.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1><center>Review List</center></h1>
<a th:href="@{/homeScreen}" target="_parent"><button>Home</button></a>
<a th:href="@{/displayRestaurants}" target="_parent"><button>Restaurants</button></a>
<a th:href="@{/ReviewRestaurants}" target="_parent"><button>Reviews</button></a>
<a th:href="@{/orderRestaurants}" target="_parent"><button>Orders</button></a>

<a th:href="@{/Logout}" target="_parent"><button>Logout</button></a>

<input type="text" id="search" name="search">
<button type="search">Search</button><br>

<h1>
<span th:text="${restaurant.rname}"></span> 
</h1>

	<table class="prettytable">
		<tr>
			<th>Review Id</th>
			<th>Customer Email</th>
			<th>Restaurant Id</th>
			<th>Review Title</th>
			<th>Review Description</th>
			<th>Review Date</th>
			<th>Rating</th>
		</tr>

		<tr th:each="review : ${reviewList}">
			<td th:text="${review.reviewid}"></td>
			<td th:text="${review.custemail}"></td>
			<td th:text="${review.restid}"></td>
			<td th:text="${review.reviewtitle}"></td>
			<td th:text="${review.reviewdescr}"></td>
			<td th:text="${review.reviewdate}"></td>
			<td th:text="${review.rating}"></td>
		

		</tr>
		

	</table>
	<a th:href="@{/createFormReview/{id}(id=${restaurant.restid})}"><button>Create Review</button></a>



</body>
</html>