<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display Menus</title>
    <link rel="stylesheet" type="text/css" href="../css/example.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><center>Restaurant Advisor</center></h1>
<a th:href="@{/homeScreen}" target="_parent"><button>Home</button></a>
<a th:href="@{/displayRestaurants}" target="_parent"><button>Restaurants</button></a>
<a th:href="@{/displayReviews}" target="_parent"><button>Reviews</button></a>
<a th:href="@{/Orders}" target="_parent"><button>Orders</button></a>
<a th:href="@{/Logout}" target="_parent"><button>Logout</button></a>

<input type="text" id="search" name="search">
<button type="search">Search</button><br><br>

	<h1>Restaurant List</h1>

	<table class="prettytable">
		<tr> 
			<th>Food</th>
			<th>Price</th>

<!--		<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>hours</th>
			<th>Dining Type</th>
			<th>Street</th>
			<th>Street Name</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Price Range</th>
			<th>Delivery</th>
			<th>Outdoor Seating</th>
-->
		</tr>

		<tr th:each="menu : ${menuList}">
						
			<td th:text="${menu.foodname}"></td>
			<td th:text="${menu.price}"></td>
<!--			
			<td th:text="${restaurant.phone}"></td>
			<td th:text="${restaurant.email}"></td>
			<td th:text="${restaurant.hours}"></td>
			<td th:text="${restaurant.diningtype}"></td>
			<td th:text="${restaurant.streetno}"></td>
			<td th:text="${restaurant.streetname}"></td>
			<td th:text="${restaurant.city}"></td>
			<td th:text="${restaurant.state}"></td>
			<td th:text="${restaurant.zip}"></td>
			<td th:text="${restaurant.pricerange}"></td>
			<td th:text="${restaurant.deliveryflag}"></td>
			<td th:text="${restaurant.outdoorseatingflag}"></td>
-->
		</tr>
	</table>
	<a th:href="@{/createOrder/{id}(id=${restaurant.restid})}"><button>Create an Order</button></a>
</body>
</html>