<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurant Advisor</title>
<link rel="stylesheet" type="text/css" href="css/example.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1><center>Restaurant Advisor</center></h1>
<a href="/homeScreen" target="_parent"><button>Home</button></a>
<a th:href="@{/displayRestaurants}" target="_parent"><button>Restaurants</button></a>
<a href="/reviews.html" target="_parent"><button>Reviews</button></a>
<a href="/Orders.html" target="_parent"><button>Orders</button></a>
<a href="/Logout.html" target="_parent"><button>Logout</button></a>

<input type="text" id="search" name="search">
<button type="search">Search</button><br>
<label for="request">Select an option or perform a search</label>

</body>
<html>