<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Screen</title>
    <link rel="stylesheet" type="text/css" href="../css/example.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><center>Restaurant Advisor</center></h1>
<a th:href="@{/homeScreen}" target="_parent"><button>Home</button></a>
<a th:href="@{/displayRestaurants}" target="_parent"><button>Restaurants</button></a>
<a th:href="@{/ReviewRestaurants}" target="_parent"><button>Reviews</button></a>
<a th:href="@{/orderRestaurants}" target="_parent"><button>Orders</button></a>
<a th:href="@{/Logout}" target="_parent"><button>Logout</button></a>


<form action="#" th:action="@{/searchRestaurants}" th:object="${restaurant}" method="post">
      <input type="text" th:field="*{rname}"/>
      <button type="submit">Submit</button>
</form>


<!-- 
<input type="text" id="search" name="search">
  <a th:href="@{/searchRestaurants/{search}"><button type="search">Search</button><br></a> 
<label for="request">Select an option or perform a search</label>
 -->
</body>
</html>