<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Here are the results of your form submission <br/>
    username : <span th:text="${user.userName}" /> <br/>
    password : <span th:text="${user.password}" /> <br/>
    <br/>
    
    <a th:href="@{/displayRestaurants}">Show All Restaurants</a>
    
</body>
</html>