<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Review</title>
<link rel="stylesheet" type="text/css" href="../css/example.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="#" th:action="@{/createNewUser}" th:object="${customer}"
		method="post">
		<table class="prettytable" border="1">
			<tr>
				<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td><input type="text" th:field="*{fname}" /></td>
			</tr>
			<tr>
				<td>Middle Initial:</td>
				<td><input type="text" th:field="*{minit}" /></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" th:field="*{lname}" /></td>
			</tr>
			<tr>
				<td>Phone Number:</td>
				<td><input type="text" th:field="*{phone}" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Street Number:</td>
				<td><input type="text" th:field="*{streetno}" /></td>
			</tr>
			<tr>
				<td>Street Name:</td>
				<td><input type="text" th:field="*{streetname}" /></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><input type="text" th:field="*{city}" /></td>
			</tr>
			<tr>
				<td>State:</td>
				<td><input type="text" th:field="*{state}" /></td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td><input type="text" th:field="*{zip}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
