
<html>
<head><title>Online Movie New Customer Sign In Page</title></head>
<body bgcolor="#FFFFCC">
<center><font size=5><font color =blue>Online Restaurant Advisor System
<P> 
New Customer Sign-Up</font>
<P>
<form action="http://www.mscs.mu.edu:8080/praveen/servlet/NewCustomer" method="POST">
<table border=1>
<tr>
<td>First Name:</td>
<td><INPUT TYPE="text" name="FName" size=20 maxlength=40 value=""></td>
</tr>
<tr>
<td>Last Name:</td>
<td><INPUT TYPE="text" name="LName" size=20 maxlength=40 value=""></td>
</tr>
<tr>
<td>Email:</td>
<td><INPUT TYPE="text" name="Email" size=20 maxlength=40 value=""></td>
</tr>
<tr>
<td>Street No:</td>
<td><INPUT TYPE="text" name="StreetNo" size=30 maxlength=40 value=""></td>
</tr>
<tr>
<td>Street Name:</td>
<td><INPUT TYPE="text" name="StreetName" size=30 maxlength=40 value=""></td>
</tr>
<tr>
<td>City:</td>
<td><INPUT TYPE="text" name="City" size=20 maxlength=40 value=""></td>
</tr>
<tr>
<td>State:</td>
<td><INPUT TYPE="text" name="State" size=20 maxlength=40 value=""></td>
</tr>
<tr>
<td>Zip:</td>
<td><INPUT TYPE="text" name="Zip" size=10 maxlength=40 value=""></td>
</tr>
<tr>
<td>Phone:</td>
<td><INPUT TYPE="text" name="Phone" size=10 maxlength=20 value=""></td>
</tr>
<tr>
<td>Password:</td>
<td><INPUT TYPE="password" name="password" size=10 maxlength=20 value=""></td>
</tr>
</table>
<P>
<INPUT TYPE="submit" value="Proceed">
<INPUT TYPE="reset" value="reset">
</form>
</center>
</body>
</html>
